@{
    ViewData["Title"] = "Employee Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}

<style>
    #validation {
        font-weight: bolder;
        font-size: 30px;
    }

    #message {
        font-size: 25px;
        text-align: center;
    }

    .btn-cancel {
        width: 100% !important;
        position: relative !important;
        border-radius: 99px !important;
        background-color: #d03a4b !important;
        border: 3px solid #d03a4b !important;
        box-sizing: border-box !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 10px 55px !important;
        color: var(--light) !important;
        transition: all 0.5s ease-in-out !important;
    }

    .input-container-button {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .btn-NO {
    /*     width: 100% !important;
        position: relative !important;
        border-radius: 99px !important;
        border: 3px solid #d03a4b !important;
        box-sizing: border-box !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 10px 55px !important;
        color: #d03a4b !important;
        transition: all 0.5s ease-in-out !important;
        background-color: transparent !important; */
         border: 1px solid #d03a4b !important;
        width: 100% !important;
        color: #d03a4b !important;
        transition: all 0.5s ease-in-out !important;
        padding: 10px 65px !important;
        border-radius: 15px !important;
        position: relative !important;
        border-radius: 99px !important;
        background-color: transparent !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        box-sizing: border-box !important;

    }

    .img-header {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .btn-pay {
        width: 100% !important;
        color: var(--white) !important;
        transition: all 0.5s ease-in-out !important;
        padding: 10px 65px !important;
        border-radius: 15px !important;
        position: relative !important;
        border-radius: 99px !important;
        background-color: #003f88;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        box-sizing: border-box !important;
    }

    .sub-content-mv {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .print-page-md {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }

    .text-regular {
        font-weight: normal !important;
    }


    input[type="text"]:enabled, input[type="number"]:enabled {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    /* Styling for disabled elements */
    input[type="text"]:disabled, input[type="number"]:disabled {
        background-color: #d3d3d3;
        color: #6c757d;
        cursor: not-allowed;
    }

    .dynamic-element.changed {
        margin-top: 20px;
        color: red;
        margin: 20px 0px 0px 0px;
    }

    .dynamic-element {
        margin-top: 20px;
        color: red;
        cursor: pointer;
        margin: 20px 0px 0px 150px;
    }

    #fees_details th, td {
        text-align: center !important;
    }

    .collapsible {
        color: var(--dark);
        cursor: pointer;
        padding: 10px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border: none;
        background-color: transparent;
    }

    .mod-formd {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .mod-forms {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .mod-input {
        font-size: 1.2rem;
        height: 35px;
        padding: 10px;
        outline: none;
        border: 1px solid #e7e6e6;
        box-shadow: inset 1px 2px 1px 1px rgba(116, 113, 113, 0.5);
        border-radius: 5px;
        width: 100%;
        color: var(--secondary-dark);
        margin-top: 10px;
    }

    .amount-inputs {
        font-size: 1.2rem;
        height: 35px;
        padding: 10px;
        outline: none;
        border: 1px solid #e7e6e6;
        box-shadow: inset 1px 2px 1px 1px rgba(116, 113, 113, 0.5);
        border-radius: 5px;
        width: 100%;
        color: var(--secondary-dark);
        margin-top: 10px;
    }

    .chequeamount {
        font-size: 1.2rem;
        height: 35px;
        padding: 10px;
        outline: none;
        border: 1px solid #e7e6e6;
        box-shadow: inset 1px 2px 1px 1px rgba(116, 113, 113, 0.5);
        border-radius: 5px;
        width: 100%;
        color: var(--secondary-dark);
        margin-top: 10px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    table {
        border-radius: 10px;
    }

    .btn-cancel {
        width: 100% !important;
        position: relative !important;
        border-radius: 99px !important;
        background-color: #d03a4b !important;
        border: 3px solid #d03a4b !important;
        box-sizing: border-box !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 10px 55px !important;
        color: var(--light) !important;
        transition: all 0.5s ease-in-out !important;
    }

    .btn-pay {
     
        width: 100% !important;
        color: var(--white) !important;
        transition: all 0.5s ease-in-out !important;
        padding: 10px 65px !important;
        border-radius: 15px !important;
        position: relative !important;
        border-radius: 99px !important;
        background-color: #003f88;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        box-sizing: border-box !important;
    }

    .mod-form span {
        font-size: 13px;
        font-weight: 900;
        color: var(--gray-dark);
        height: 50px;
        font-size: 17px !important;
    }

    .mod-forms span {
        font-size: 13px;
        font-weight: 900;
        color: var(--gray-dark);
        height: 50px;
        font-size: 17px !important;
    }

    .mod-form-5 span {
        font-size: 13px;
        font-weight: 900;
        color: var(--secondary-dark);
    }

    .mod-form-5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 15px 25px 15px;
    }

    .mod-form-3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .mod-form-side span {
        font-size: 15px;
        font-weight: 900;
        color: var(--gray-dark);
    }

    .title {
        color: var(--dark);
        font-size: 25px;
        font-weight: bolder;
    }

    .sub-title {
        color: var(--dark);
        font-size: 20px;
        font-weight: bolder;
    }

    .sub-title-2 {
        color: var(--accent);
        font-size: 15px;
        font-weight: bolder;
        margin: 10px;
    }

    .title-content {
        margin: 25px;
    }

    .card-content {
        margin: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
        margin: 25px;
    }
</style>

<div id="dashboard-main-container">


  @*   <div class="list-title">
        <h4 style="font-size: 26px;" class="text-left">  <i class="fa-solid fa-users" style="margin: 10px;"></i> @ViewData["Title"].ToString()</h4>
    </div> *@
    <div class="title-main-container">
                  <div class="content-container">
            <h4 style="font-size: 26px;" class="text-left">  <i class="fa-solid fa-users" style="margin: 10px;"></i> @ViewData["Title"].ToString()</h4>
            </div>
    <div class="top-main-container ">
          
        </div>
      @*   <div class="register1">
             <a href="@Url.Action("AddEmployee", "Employee")"> <button class="btn-addnew"id="add-position" title="Add New Employee">
              <i class="fas fa-user-plus"></i> Create Employee
            </button>  </a>

        </div style=" display: flex;flex-direction: column;> *@
        <div class="main-container bordered">
            <div class="content-filter">
                <div class="sub-content">
                    <div class="mod-form">
                     
                        <div class="input-container">
                    @*         <a href="@Url.Action("AddEmployee", "Employee")"> *@
                                <button class="btn btn-info" id="add-employee" title="Add New Employee">
                                    <i class="fas fa-user-plus"></i> Create Employee
                                </button>
                            @* </a> *@


                        </div>
                    </div>
                    <div class="mod-form-2">
                    </div>
                </div>
            </div>
            <div class="content-filter-tbl">
                @* <table id="myTable"> *@
                <table id="emp-table" class="table table-bordered table-hover w-100">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div id="table-footer">
                </div>

            </div>
        </div>
        @* <div class="tbl-btn-container">
            <div class="btn-footer-container">

            </div>
        </div> *@
       
    </div>

    <div class="modal fade" id="alertmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="img-header">
                    </div>
                    @*  *@
                    <h5 class="modal-title" id="modal-title"></h5>

                </div>
                <div class="modal-body">
                    <div style="
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    ">
                        <span id="validation">ERROR</span>
                        <span id="message"></span>
                    </div>

                </div>
                <div style="display: flex;gap: 10px;width: 100%;justify-content: center;margin:30px 0px">
                    <div class="input-container-button">
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
  $(document).ready(function () {

     
         
 });

   const data = { Username: 'username', Department: 'department', page: 1 };
         var  img = "/img/OPTION.webp";
     var dtProperties = {
         ajax: {
        
             url: '@Url.Action("GetDataRegistrationList", "Employee")',
             data: {data},
             dataType: "json",
             processing: true,
             serverSide: true,

             error: function (err) {
                 alert(err.responseText);
             }
        
         },

         "columns": [
                  
               {
                 "title": "Action",
                 "data": "id",
                 "render": function (data, type, row) {
                
                    var images = row['filePath'] == null ? img : row['filePath'];
                     let btnView = `
                           
                    <div class="data-img"> <img src='${images}' width="100%" /> </div>
                    <div class="actions">
                        <a class="tbl-edit" data-id="${data}">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </a>
                        <a class="tbl-delete" data-id="${data}">
                           <i class="fa-solid fa-trash"></i>
                    <span>Delete</span>
                        </a>
                    </div>
                     `
                     return btnView;
                 }
             },
             
             {
                 "title": "Employee ID #",
                 "data": "employeeID"
             },
             {
                 "title": "Fullname",
                 "data": "fullname"
             },
             {
                 "title": "Email",
                 "data": "email"
             },
             {
                 "title": "Gender",
                 "data": "gender"
             }
         ]
     }
          
        var _tbl = $('#emp-table').DataTable(dtProperties);
        $('#emp-table').on('click', '.tbl-edit', function () {
                var id = $(this).data('id');
                localStorage.setItem('id', id);
                window.location.href = '/employee/addemployee';
        });
        $('#emp-table').on('click', '.tbl-delete', function () {
        var element = document.querySelectorAll(".modal-header");
        var content = document.querySelectorAll(".modal-content");
        var modal_span = document.querySelectorAll(".modal-header span");
        var payButton = '<input type="submit" value="YES" id="btn-process" class="btn-pay" onclick="process_payment()"/>';
        var delete_ = '<input type="submit" value="YES" id="btn-delete_item" class="btn-pay"  onclick="process_payment()"/>';
        var cancelButton = '<input type="submit" value="NO" id="btn-cancel" class="btn-NO" data-dismiss="modal"/>';
        var cancelButton2 = '<input type="submit" value="CANCEL" id="btn-cancel" class="btn-NO" data-dismiss="modal"/>';
                var id = $(this).data('id');
                console.log("deleted " + id);
                content.forEach(content => {
                content.style.setProperty("border-radius", "15px 15px 15px 15px", "important");
                content.style.setProperty("border-bottom", "7px #d03a4b solid", "important");

                });
                modal_span.forEach(modal_span => {
                 modal_span.style.setProperty("text-align", "center", "important");
                 modal_span.style.setProperty("width", "100%", "important");
                });
                element.forEach(element => {
                  element.style.setProperty("color", "white", "important");
                  element.style.setProperty("background-color", "#d03a4b", "important");
                  element.style.setProperty("border-radius", "15px 15px 0 0", "important"); 
                  element.style.setProperty("text-align", "center", "important");
                });
                document.getElementById('message').textContent = 'Are you sure you want to delete this item?';
                    $('.input-container-button').append(cancelButton);
                    $('.input-container-button').append(delete_);
                $('.img-header').append('<img id="modalImage" src="/img/OPTION.webp" alt="Modal Image" />');
                $("#alertmodal").modal('show');
        });
        $('#add-employee').click(function () {
                window.location.href = '/employee/addemployee';
                localStorage.removeItem('id');
        });
    </script>
}